#chat-form {
  width: 100%;
}

#chat-messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 125px;
  border: 1px solid #000;
  overflow-y: scroll;
}

#chat-messages li {
  padding: 5px 10px;
}
#chat-messages li:nth-child(odd) {
  background: #eee;
}

#screen {
  border: 1px solid #000;
  outline: none;
}

.main {
  display: table-cell;
}
.sidebar {
  display: table-cell;
  padding-left: 15px;
  vertical-align: top;
}

#tileset-image {
  border: 1px solid #000;
  width: 400px;
  height: 300px;
  overflow: scroll;
}

#tileset-image.selecting {
  cursor: crosshair;
}
